{% extends 'registration/layout.html' %}

{% block title  %}Вход{% endblock %}

{% block content  %}
<!--p class="text-center">finder-friend</p-->
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control rounded-pill" id="username" value="{{ form.username.value|default:'' }}">
    </div>
    <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control rounded-pill" name="password" id="password" value="{{ form.password.value|default:'' }}">
    </div>
    {{ form.errors }}

    <button class="btn btn-outline-dark w-100 py-8 fs-5 mb-4 rounded-pill">Войти</button>
    <div class="d-flex align-items-center justify-content-center">
        <p class="ms-2 mb-0 fw-bold">Новый пользователь?</p>
        <a class="text-primary fw-bold ms-2" href="{% url 'signup' %}">Создать новый аккаунт</a>
    </div>
</form>
{% endblock %}